<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite thread-count="1" verbose="1" name="Suite_1 defined in testng.xml fil" annotations="JDK" parallel="tests">

    <test name="Test_1">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="testNG.TestNGparemetrize"/>
        </classes>
    </test>

    <test name="Test_2">
        <classes>
            <class name="testNG.TestNG_Examples">
                <methods>
                    <exclude name="testCase3"/>
                </methods>
            </class>
            <class name="testNG.TestNG_Example2"/>
        </classes>
    </test>

    <test name="Test_3">
        <groups>
            <run>
                <include name = "fool" />
                <exclude name = "regression"/>
            </run>
        </groups>
        <classes>
            <class name="testNG.TestNG_Example2"/>
        </classes>
    </test>



    <listeners>
        <listener class-name="helpers.listenerSimple"/>
    </listeners>


</suite>